<nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">CHRONOS</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => "nav-link" %>
    </li>
  </ul>
</nav>

<div class="container">
<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= Time.now.strftime("%I:%M%p") %></h5>
    <%= form_for([:user, @record]) do |f| %>
      <%= f.submit 'Register', :class => "btn btn-lg btn-secondary" %>
    <% end %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Time</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  <% if @records.first.nil? %>
    <td colspan=4>You still do not have records</td>
  <% else %>
    <% @records.each do |record| %>
      <tr>
        <th scope="row"><%= record.time.to_date.strftime("%F") %></th>
        <td><%= record.time.to_time.strftime("%I:%M%p") %></td>
        <td>
          <%= link_to edit_user_record_path(record.id) do %>
            Edit
          <% end %>
        </td>
        <td>
          <%= link_to user_record_path(record), method: :delete, data: { confirm: 'Are you sure?'} do %>
            Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
</div>
